  @import url("https://use.typekit.net/juw6xas.css");
/*General Rules*/
* {
  padding:0;
  margin:0;
  box-sizing:border-box;
  outline:0;
  /*fonts*/
  font-family:'Helvetica Neue', sans-serif;
}

:root {
  /*Primary*/
  --black:#000;
  --white:#efefef;
  --red:#C11F3A;
  --darkgrey:#3B3D3F;
  --darkblue:#114B5E;
  /*Secondary*/
  --blue:#004CFF;
  --orange:#FFB300;
  --redsecond:#f30000;
  --pink:#ff02DB;
  --yellow:#f3ff01;
}

body {
  width:100%;
  overflow-x:hidden;
  background:var(--black);
}
/*Header*/
header {
  height:100vh;
  background:linear-gradient(rgba(0,0,0,0), rgba(0,0,0,1)), url('../img/nordicroom.png') center no-repeat;
  background-size:cover;
  overflow-x: hidden;
}
header > div > img {
  position:absolute;
  right:0;
  left:0;
  margin:0 auto;
  display:block;
  width:120px;
  margin-top:10px;
}
header > ul {
  display:flex;
  height:100%;
  width:100%;
  justify-content: center;
  padding:80px 0;
  align-items: center;
  flex-direction: column;
}
header > ul > li {
  display:block;
  width:100%;
  padding:0 30px;
  margin:15px 0;
  text-align:right;
}
header > ul > li:nth-child(1) {
  text-align:center !important;
}

header > ul > li:nth-child(2) {
  margin:0 auto;
  padding:0;
  text-align:center;
}
header > ul > li:nth-child(3) {
  text-align:center !important;
  margin-right:35px;
}
header > ul > li:nth-child(4) {
  margin-right:80px;
}
header > ul > li:nth-child(5) {
  margin-left:80px;
}

header > ul > li > a {
  width:100%;
  text-decoration:none;
font-family: 'freight-sans-condensed-pro', sans-serif;
font-weight: 900;
font-style: normal;
-webkit-text-stroke: .08rem currentcolor;
-webkit-text-fill-color: transparent;
text-transform:uppercase;
color:white;
font-size:40px;
}
header > ul > li:nth-child(odd) {
  text-align:left;
}
/*Navigation*/
nav {
  margin-bottom:-60px;
  width:100%;
  display:flex;
  z-index:999;
  justify-content: flex-end;
  top:0;
  height:60px;
}
.sticky {
  position:fixed;
  top:0;
}
nav > div {
  display:flex;
  height:35px;
  width:35px;
  margin:10px 10px 0 0;
  z-index: 5;
  flex-direction: column;
  justify-content: space-around;
}
nav> div > span {
  display:block;
  width:100%;
  height:5px;
  border-radius:1px;
  background-color:white;
}
nav > ul {
  display:flex;
  width:100%;
  height:100%;
  background:rgba(0,0,0,.7);
  position:fixed;
  top:0;
  left:0;
  z-index:5;
  list-style: none;
  flex-direction: column;
  justify-content: center;
  padding-left:20px;
  transform:translateY(-100%);
    transition:1s;
}
nav > ul > li > a {
  z-index: 6;
  font-family: 'freight-sans-condensed-pro', sans-serif;
  font-weight: 900;
  font-style: normal;
  text-decoration:none;
  -webkit-text-stroke: .08rem currentcolor;
  -webkit-text-fill-color: transparent;
  color:white;
  font-size:50px;
}
ul > .close {
  position:fixed;
  top:0;
  right:0;
  height:50px;
  width:50px;
  z-index:6;
  display:flex;
  margin:20px;
  justify-content: center;
  align-items: center;
}
.open > .close {
  animation:1s rotate ease;
  animation-delay:.5s;
}
.close > span {
  width:100%;
  height:5px;
  background-color:white;
  border-radius:2px;
  position:absolute;
}
.close > span:nth-child(1){
  transform:rotate(45deg);
}
.close > span:nth-child(2){
  transform:rotate(135deg);
}
.open {
  transform:translateY(0);
}
/*Sections*/
section {
  margin:20px 0;
  overflow-x: hidden;
}
section > h2 {
  font-family: 'freight-sans-condensed-pro', sans-serif;
  font-weight: 900;
  font-style: normal;
  -webkit-text-stroke: .10rem currentcolor;
  -webkit-text-fill-color: transparent;
  text-transform:uppercase;
  color:white;
  z-index: 999;
  font-size:44px;
  margin:20px;
}
section:nth-child(4) > div:first-child::after {
  content:'';
  position: absolute;
  height:100%;
  background:url('../img/lampe.jpg') center no-repeat;

}

.kunstner {
  position:relative;
  height:50vh;
  width:100%;
  overflow:hidden;
  transition:.8s;
}
.kunstner > * {
  transition:1s;
}
.kunstner > img:first-child {
  position:absolute;
  top:0;
  left:0;
  height:100%;
}

.grafik {
  position:absolute;
  top:0;
  right:0;
  width:80px;
  margin:10px;
  height:80px;
}
.kunstner > h3 {
  position:absolute;
  display:flex;
  width:100%;
  justify-content: center;
  text-transform:uppercase;
  color:var(--orange);
  font-family: 'freight-sans-condensed-pro', sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size:80px;
  bottom: 0;
}
.kunstner:nth-child(2) > h3 {
  color:var(--redsecond);
}
.kunstner:nth-child(3) > h3 {
  color:var(--blue);
}
.kunstner:nth-child(4) > h3 {
  color:var(--orange);
}
.kunstner > p {
  position:absolute;
  font-size:20px;
  width:100%;
  height:100%;
  display:flex;
  color:white;
  padding:0 40px;
  justify-content: center;
  text-align:center;
  transform:translateY(100%);
}
.kunstner > .dato {
  position:absolute;
  top:0;
  left:0;
}
.kunstner:nth-child(2) > .dato > p {
  color:var(--redsecond);
}
.kunstner:nth-child(3) > .dato > p {
  color:var(--blue);
}
.kunstner:nth-child(4) > .dato > p {
  color:var(--orange);
}
.dato > p {
  font-size:50px;
  margin:10px;
  color:var(--redsecond);
  transition:.6s;
}
.k-aktiv > .dato > p {
  color:white !important;
  font-size:16px !important;
}
.kunstner > h3::after {
content:'';
position: absolute;
display:block;
margin:0 auto;
height:5px;
width:0;
transition:1s;
background-color:white;
bottom:0;
}
.begivenhederContent {
  display:none;
}
.kunstner::after {

    content:'';
    position: absolute;
    width:100%;
    height:100%;
    z-index: -1;
  background-color:rgba(0,0,0,.7);
  transform:translateY(100%);
  transition:.8s;
}
.kunstner.k-aktiv::after {
  transform:translateY(0);
}
.k-aktiv > img:first-child {
  z-index:-2;
  filter: blur(5px);
}
.k-aktiv > h3 {
  transform:translateY(-30vh);

}
.k-aktiv > h3::after {
content:'';
position: absolute;
display:block;
margin:0 auto;
height:5px;
width:80%;
background-color:white;
bottom:0;
}
.k-aktiv > .grafik {
  width:0px;
  height:0px;
}
.k-aktiv > p {
  transform:translatey(45%);
}
/*gallery*/
.gallery {
  width:100%;
  height:90vh;
  overflow:hidden;
  position:relative;
  transition:1s;
}
.gallery > div {
  height:35vh;
  width:100%;
  border:2px solid black;
  overflow:hidden;
}
.gallery > div > img {
  height:140%;
}
.gallery > .button {
  width:100%;
  height:50px !important;
  background:none;
  border:0;
  display:flex;
  justify-content: center;
  position:absolute;
  bottom:0;
  background-color:black;
}
.button > button {
  height:40px;
  margin-top:-20px;
  width:60px;
  background-color:black;
  font-family:'Helvetica';
  font-size:30px;
  border-top-left-radius:10px;
  border-top-right-radius:10px;
  border:none;
  position:absolute;
  left:0;
  right:0;
  bottom:5px;
  margin:0 auto;
  z-index:8;
}
.udvid {
  position:relative;
  display:flex;
  justify-content: center;
  outline:0;
}
.udvid > span {
  display:block;
  width:50%;
  height:4px;
  background:white;
  position:absolute;
  transition:1s;
}
.udvid > span:first-child {
  transform:rotate(45deg);
  left:5px;
}
.udvid > span:nth-child(2) {
  transform:rotate(135deg);
  right:5px;
}
.luk > span:first-child {
  transform:rotate(135deg);
}
.luk > span:nth-child(2) {
  transform:rotate(45deg);
}
/*Profil*/
.omos > div {
  position: relative;
}
.omos > div:nth-child(2) {

  margin-bottom:60px;
}
.omos > div:nth-child(2)::before {
  content:'';
  position: absolute;
  top:0;
  left:0;
  height:100%;
  width:100%;
  z-index:-1;
  background:url("../img/lampe.png") center no-repeat;
  background-size:100%;

}
.omos div > p {
  font-size: 20px;
  line-height: 1.5em;
  text-align: center;
  color:white;
}
.omos > div:nth-child(2)::after {
  content:'';
  position: absolute;
  bottom:-30px;
  width:80%;
  height:4px;
  background:white;
  margin:0 auto;
  left:0;
  right:0;
}
.omos > div > div {
  display:none;
}
.profil > img:nth-child(3), .profil > img:nth-child(4) {
  display:none;
}
.profil {
  display:flex;
  justify-content: center;
}
.profil > img {
  width:50%;
  height:28vh;
}

/*kontakt*/
.kontakt > div{
  height:40vh;
  overflow:hidden;
}
.kontakt * {
  color:white;
}
.kontakt > div > ul {
  list-style:none;
  display:flex;
  justify-content: center;
  align-items:center;
  flex-direction: column;
  height:100%;
  width:100%;
}
.kontakt > div > ul > li {
  margin:20px 0;
  font-size:15px;
}
.kontakt > div > ul > li a {
  text-decoration: none;
  position: relative;
}
/* .kontakt > div > ul > li a::after {
  content:'';
  bottom:-5px;
  position: absolute;
  width:100%;
  height:2px;
  background-color:white;
  left:0;
} */
/*slider*/
.slider {
    width: 100%;
    height:60vh
}
.slider > div {
  height:100%;
  width:100%;
}
.YT {
  margin-top:10vh;
  height:40vh;
  width:100% !important;
  border:0 !important;
}
.slider  p  {
  color:White;
  font-size:24px;
}
.slider-pc {
display:none !important;
    width: 100%;
    height:60vh;

}

.slider-pc > div {
  height:100%;
  width:100%;
}
.slider-pc p {
  color:white;
  font-size:24px;
}
.slick-slide {
  margin: 0px 20px;
}
.slick-slide img {
  width: 100%;
}
.slick-prev:before,
.slick-next:before {
  color: black;
}
.slick-slide {
  transition: all ease-in-out .3s;
  opacity: .2;
}
.slick-active {
  opacity: .5;
}
.slick-current {
  opacity: 1;
}
.slick-dots {
  width:100%;
  display:flex;
  list-style:none;
  justify-content: center;
  margin-top:-10vh;
}
.slick-dots  button {
  border-radius:100%;
  height:20px;
  width:20px;
  color:white;
  z-index:2;
  background:white;
  margin:0 5px;
  border:0;
  opacity:1;
}
.left {
  display:none;
}
.right{
  display:none;
}

/*Map*/
#map {
  width:100%;
  height:50vh;
}
.marker {
  height:70px;
  width:45px;
  background:url("../img/pinlogonordicroom.png") center no-repeat;
  background-size:100%;
}
.mapboxgl-control-container {
  display:none !important;
}
/*Footer*/
footer {
  width:100%;
  height:60vh;
}
footer::after {
  content:'';
  position: absolute;
  width:100%;
  height:60vh;
  background:linear-gradient(rgba(0,0,0,0), rgba(0,0,0,1)), url("../img/nordicroom.png") no-repeat center;
  transform:rotate(180deg);
}


@media screen and (min-width: 600px) and (max-width: 1199px) {

header > ul > li > a {
  font-size:80px;
}
nav > div {
  height:60px;
  width:60px;
}
.close {
  width:60px;
  height:60px;
}

nav > ul > li > a {
  font-size:80px;
}
nav > div > span {
  height:8px;
}
.kunstner > img:first-child {
  width:100%;
  height:120%;
}
.gallery > div > img {
  height:110%;
}
.gallery > .button {
  bottom:0;
  margin-bottom:-4px;
}
.omos > div {
  height:60vh;
  display:flex;
  justify-content: center;
  align-items: center;
  padding:0 80px;
}
.omos > div > p {
  font-size:24px;
  line-height:2em;
}
.kontakt > div > ul > li {
  font-size:32px;
}
footer {
  height:40vh;
}
footer::after {
  height:40vh;
}
}
@media screen and (min-width: 1200px) {
.slider {
  height:90vh;
  padding:0 200px;
}
header > ul > li > a {
  font-size:60px;
  transition:1.2s;
}
nav > div {
  height:45px;
  width:45px;
  cursor:pointer;
}
nav > div > span {
  height:6px;
  transition:.5s;
}
nav>div:hover >span {
  background-color:red;
}
.close {
  cursor:pointer;
}
.close span {
  transition:1s;
}
.close:hover span{
  background-color:red;
}
a:hover {
  -webkit-text-fill-color: white;
}
header > ul > li:nth-child(1) {
  text-align:center !important;
  margin-right:120px;
}
header > div {
  position: absolute;
  top:0;
  left:50px;
}
header > div > img {
  width:200px;
}
header > ul > li:nth-child(2) {
  margin-right:-100px;
  padding:0;
  text-align:center;
}
header > ul > li:nth-child(3) {
  text-align:center !important;
  margin-right:80px;
}
header > ul > li:nth-child(4) {
  margin-right:-80px;
  text-align:center;
}
header > ul > li:nth-child(5) {
  margin-right:120px;
  text-align:center;
}
section::after {
  content:'';
  position: absolute;
  top:0;
  left:0;
  background:url('../img/lampe.png')
}
.kunstner {
  display:flex;
  justify-content: space-around;
  height:70vh;
  margin:50px 0;
  position: relative;
  padding:0 80px;
}
.kunstner > h3 {
  width:60%;
  bottom:30px;
  left:0;
  font-size:100px;
}
.kunstner > .dato {
  width:60%;
  top:0;
  left:0;
  padding:0 8%;
}
.kunstner:nth-child(odd) {
  flex-direction: row-reverse;
}
.kunstner:nth-child(odd) > h3 {
  right:0;
  left:40%;
}
.kunstner:nth-child(odd) > .dato {
  right:0;
  left:40%;
}
.kunsnter > .dato > p {
  display:block;
}
.kunstner:nth-child(odd) > .dato {
  right:0;
  top:0;
}
 .kunstner > p {
  display:none;
}



.grafik {
  left:42%;
}
.kunstner:nth-child(odd) > .grafik {
  left:80%;
}
.kunstner > img:first-child {
  width:50%;
  height:90vh;
  position: relative;
}
.gallery {
  display: flex;
  flex-wrap:wrap;
  height:0;
  min-height:105vh;
}
.gallery > .button {
  display:none;
}
.gallery > div{
  width:25%;
}
.kunstner > .begivenhederContent {
  display:flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:40%;
  height:100%;
  color:white;
  position: relative;
}
.begivenhederContent::after {
  content:'';
  position: absolute;
  top:0;
  left:0;
  height:100%;
  width:100%;
  background:url('../img/lampe.png') center no-repeat;
  background-size:100%;
  z-index:-2;
  opacity:.5;
}
.begivenhederContent > p {
  font-size:24px;
}
.begivenhederContent > h3 {
  font-size:60px;

  font-family: 'freight-sans-condensed-pro', sans-serif;
  font-weight: 900;
  font-style: normal;
  text-transform:uppercase;
}
.begivenhederContent > p:last-child {
  position: absolute;
  bottom:20%;
  right:20%;
}
.omos {
  display:flex;
  position: relative;
}
.omos > div {
height:100vh;
padding:100px 0;
color:white;
}
.omos > div:nth-child(3) {
  width:30%;
  padding:20px;
  display:flex;
  position: relative;
  flex-direction: column;
}
.profil {
  overflow-y:visible;
}
.omos > .profil > img:nth-child(3), .omos > .profil > img:nth-child(4) {
  display:block;
}
.omos > .profil > img:nth-child(1) {
  margin:40px;
}
.omos > .profil > img:nth-child(2) {
    margin:-80px -80px -80px 80px;
}
.omos > .profil > img:nth-child(3) {
  margin:40px;
}
.omos > .profil > img:nth-child(4) {
    margin:-80px -80px -80px 80px;
}

.omos > div:nth-child(2) {
  width:70%;
  display:flex;
  justify-content: center;
  align-items: center;
  border-right:2px solid white;
}
.omos > div:nth-child(2) > p {
  font-size:18px;
  width:40%;
}
.omos > div > div {
  display:flex;
  justify-content: center;
  position: absolute;
  bottom:0;
  width:100%;
  height:20%;

}
.omos > div > div > img {
  height:80%;
  margin:0 50px;
}
.omos > div::after {
  display:none;
}
.omos > h2 {
  position: absolute;
}
.kontakt {
  padding-top:80px;
  display:flex;
  justify-content: center;
  position: relative;
}
.kontakt > h2 {
  position: absolute;
  z-index: 999;
  top:0;
  left:0;
}
.kontakt > div:nth-child(2) > ul > li {
  font-size:18px;
  transition:.6s;
}

.kontakt > div {
width:50% !important;
}

.slider {
  display:none !important;
}
.slider-pc {
  display:flex !important;
  flex-direction: row;
  justify-content: center;
  overflow:hidden;
}
.ytSlider {
  position: relative;
}
.ytSlider > h2 {
  position:relative;
  z-index: 5;
}
.slick-slider {
  height:80vh;
  width:100%;
  display:flex;
  position: relative;
  justify-content: center;
}
.left {
  position:absolute;
  left:0;
  top:0;
  display:flex;
  text-align:center;
  line-height:90vh;
  height:100%;
  width:200px;
  z-index: 0;
  font-size:100px;
  display:block;
  color:White;
  cursor:pointer;
  transition:1s;
}
.right {
  cursor:pointer;
  position:absolute;
  right:0;
  top:0;
  display:flex;
  text-align:center;
  line-height:90vh;
  height:100%;
  width:200px;
  z-index: 0;
  font-size:100px;
  display:block;
  color:White;
  transition:1s;
}
.right:hover, .left:hover {
  background:rgba(0,0,0,.6);
}
.slick-dots {
  position:absolute;
  bottom:4vh;
  z-index: 3;
}
.YT {
  margin:0 !important;
  height:80vh;
  width:100% !important;
  border:0 !important;
}

footer::after {
  width:100%;
  background-size:100%;
}
}

/*keyframes*/
@keyframes rotate {
  from {
    transform:rotate(0);
  }
  to {
    transform:rotate(360deg);
  }

}
